ion-content {
  --background: #eaf7ee; /* verde pastel claro */
}

ion-button {
  height: 140px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;

  color: #000 !important;   /* fuerza texto visible */
}

ion-title {
  color: #2e7d32 !important;
}
